/* General reset to remove default margins and paddings */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Navigation styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(162, 216, 211);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px; /* Adjusted padding for better responsiveness */
    text-decoration: none;
}

li a:hover {
    background-color: #ffffff;
}

/* Header styles */
header {
    overflow: hidden; /* Clear the float */
}

header div {
    max-width: 100%; /* Set maximum width for the video container */
    margin: 0 auto; /* Center the video container */
}

header video {
    width: 100%; /* Ensure the video takes up 100% width of its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove extra space below inline video elements */
}

/* Gallery styles */
.gallery-rolex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.gallery-rolex img {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    margin-bottom: 10px;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: lightgrey;
}

.container div {
    background-color: powderblue;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
    li a {
        padding: 14px 10px;
    }

    .gallery-rolex img {
        max-width: 100%;
        height: auto;
        margin-bottom: 5px;
    }

    .container {
        padding: 5px;
    }

    .container div {
        padding: 10px;
        margin-bottom: 5px;
    }
}
